@layer reset, fonts, base, tokens, layout, components, utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* TOKEN */
@import "./tokens/colors.css" layer(tokens);
@import "./tokens/opacity.css" layer(token);
@import "./tokens/typography.css" layer(token);
@import "./tokens/spacing.css" layer(token);
@import "./tokens/responsive.css" layer(token);

/* Fondation */
@import "./tools/reset.css" layer(reset);
@import "./tools/fonts.css" layer(fonts);
@import "./tools/base.css" layer(base);

@import "./components/header/header.css" layer(components);

.canvas-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(100px);
  transform: scale(1.2);
}

.hero-wrapper {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
}

main {
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  mix-blend-mode: exclusion;
  font-family: "IBM Plex Mono", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#floating-label-2,
#floating-label {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  mix-blend-mode: exclusion;
}

.viewport {
  width: 100%;
  overflow-x: auto;
}

svg {
  display: block;
  max-width: none;
}
