:root {
  --skeleton-opacity: 0.025;
}

.skeleton {
  width: 40px;
  height: 14px;
  position: relative;
  overflow: hidden;
  background-color: rgb(var(--color-foreground-rgb) / var(--skeleton-opacity));
  border-radius: var(--radius-sm);
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgb(var(--color-foreground-rgb) / var(--opacity-10)),
    transparent
  );
  animation: skeleton-shimmer 1.5s infinite;
}

.skeleton-text {
  width: 180px;
  height: 14px;
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}


.skeleton-item {
  width: 100%;
}

.skeleton-item__title {
  width: 100%;
}
.skeleton-item__subtitle {
    width: 250px;
}