body {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;

  color: var(--color, var(--color-foreground));
  font-family: var(--font-sans);
  font-style: var(--font-paragraph--style);
  font-weight: var(--font-paragraph--weight);
  font-size: calc(
    13px +
    (var(--font-paragraph-value) - 13) *
    ((100vw - 375px) / (1960 - 375))
  );
  line-height: var(--line-height--body-normal);
  text-transform: var(--font-paragraph--case);
}

[hidden] {
  display: none !important;
}

.section {
  position: relative;
  width: 100%;
  padding-inline: var(--padding-inline-mobile);

  @media screen and (min-width: 750px) {
    max-width: 192rem;
    margin-inline: auto;
    padding-inline: var(--padding-inline-desktop);
  }
}

img {
  width: 100%;
  height: auto;
}

.grid {
  --centered-column-number: 12;
  --full-width-column-number: 14;
  --centered: column-1 / span var(--centered-column-number);
  --full-width: column-0 / span var(--full-width-column-number);

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .grid {
    display: grid;
    gap: 0;
    grid-template-columns: var(--margin-4xl) repeat(
        var(--centered-column-number),
        minmax(0, 1fr)
      ) var(--margin-4xl);
    grid-template-areas: "column-0 column-1 column-2 column-3 column-4 column-5 column-6 column-7 column-8 column-9 column-10 column-11 column-12 column-13";
  }
}

@media screen and (min-width: 1400px) {
  .grid {
    grid-template-columns: 1fr repeat(
        var(--centered-column-number),
        minmax(
          0,
          calc(
            (var(--page-width) - var(--page-margin) * 2) /
            var(--centered-column-number)
          )
        )
      ) 1fr;
  }
}

.svg-wrapper {
  color: currentcolor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  pointer-events: none;
}

textarea,
input {
  border-radius: 0 !important;
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;
}
