:root {
  --container-padding: var(--space-xl);
  --container-width: calc(100% - var(--container-padding) * 2);
}

.container,
.wrapper {
  width: 100%;
  /* padding-inline: var(--container-padding); */
  /* margin-inline: auto; */
}
