.taxonomy {
  line-height: 1;
  font-family: "JetBrains Mono", monospace;
  font-size: var(--text-xs);
  letter-spacing: -0.5px;
  color: var(--contrast);
  border-radius: 0.3rem;
  z-index: 5;
  opacity: 0.5;
  transition: 0.2s opacity;
}

.taxonomy a {
  padding: var(--space-xs);
}

.taxonomy:hover,
.taxonomy:focus-within {
  opacity: 1;
}
