.button {
  --button-color: var(--color-primary-button-text);
  --button-background-color: var(--color-primary-button-background);
  --button-border-color: var(--color-primary-button-border);
}
@media screen and (min-width: 750px) {
  .button,
  .button-secondary,
  .button-contrast {
    width: var(--button-size-md) fit-content;
    padding-block: var(--button-padding-block-md);
  }
}
.button,
.button-secondary,
.button-contrast {
  --text-align: center;
  width: var(--button-size-sm) fit-content;
  margin-block: 0;
  padding-block: var(--button-padding-block-sm);
  padding-inline: var(--button-padding-inline);
  display: grid;
  align-content: center;
  text-decoration: none;
  text-align: var(--text-align);
  text-transform: var(--button-text-case);
  color: var(--button-color);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  font-family: var(--button-font-family);
  font-style: var(--font-paragraph--style);
  font-weight: var(--button-font-weight);
  line-height: var(--line-height--heading-loose);
  transition:
    color var(--animation-speed) var(--animation-easing),
    box-shadow var(--animation-speed) var(--animation-easing),
    background-color var(--animation-speed) var(--animation-easing);
  cursor: pointer;
}

.button-unstyled {
  display: block;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
  font-family: var(--font-paragraph--family);
  font-style: var(--font-paragraph--style);
  line-height: var(--line-height--heading-loose);
}
