.button {
  --button-color: var(--color-primary-button-text);
  --button-background-color: var(--color-primary-button-background);
  --button-border-color: var(--color-primary-button-border);
}
@media screen and (min-width: 750px) {
  .button,
  .button-secondary,
  .button-contrast {
    width: var(--button-size-md) fit-content;
    padding-block: var(--button-padding-block-md);
  }
}
.button,
.button-secondary,
.button-contrast {
  --text-align: center;
  width: var(--button-size-sm) fit-content;
  margin-block: 0;
  padding-block: var(--button-padding-block-sm);
  padding-inline: var(--button-padding-inline);
  display: grid;
  align-content: center;
  text-decoration: none;
  text-align: var(--text-align);
  text-transform: var(--button-text-case);
  color: var(--button-color);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  font-family: var(--button-font-family);
  font-style: var(--font-paragraph--style);
  font-weight: var(--button-font-weight);
  line-height: var(--line-height--heading-loose);
  transition:
    color var(--animation-speed) var(--animation-easing),
    box-shadow var(--animation-speed) var(--animation-easing),
    background-color var(--animation-speed) var(--animation-easing);
  cursor: pointer;
}

.button-unstyled {
  display: block;
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
  font-family: var(--font-paragraph--family);
  font-style: var(--font-paragraph--style);
  line-height: var(--line-height--heading-loose);
}

/*  */
.quick-add__button {
  width: fit-content;
  padding: 0.4rem;
  display: grid;
  align-items: center;
  color: var(--color-foreground);
  border-color: transparent;
  background-color: transparent;
  pointer-events: all;
  position: relative;
  overflow: hidden;

  &:hover .add-to-cart-text__content {
    display: block;
    opacity: 1;
  }
}

@media screen and (min-width: 750px) {
  product-card:focus-within .quick-add__button,
  .card-gallery:hover .quick-add__button {
    display: grid;
    will-change: margin, opacity;
    animation: elementSlideInTop var(--animation-speed) var(--animation-easing);
  }
}

.add-to-cart-button {
  --text-speed: 0.26;
  --base-delay: calc(var(--text-speed) * 0.25);
  --tick-speed: 0.1;
  --ring-speed: 0.2;
  --check-speed: 0.2;
  --burst-speed: 0.32;
  --step-delay: 3;
  --speed: 1;
  user-select: none;
  transition-property: color, box-shadow, background-color, scale, translate;
  transition-duration: var(--animation-speed);
  transition-timing-function: var(--ease-out-cubic);
}

@media screen and (min-width: 750px) {
  .quick-add__button-wrapper {
    padding: var(--padding-xs) var(--padding-sm);
  }
}

.quick-add__button-wrapper {
  height: fit-content;
  padding: var(--padding-2xs);
  background-color: var(--color-background);
  box-shadow: var(--shadow-popover);
}

@media screen and (min-width: 750px) {
  .quick-add__button .add-to-cart-text {
    /* margin-inline: calc(var(--padding-sm) * -1);
    padding-inline: var(--padding-xs); */
  }
}

.quick-add__button .add-to-cart-text {
  gap: 0;
  line-height: 0.8;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  animation: none;
}

.add-to-cart-text {
  clip-path: circle(100% at 50% 50%);
}

@media (prefers-reduced-motion: no-preference) {
  .add-to-cart-text {
    transition-property: clip-path, opacity, filter, translate;
    transition-duration:
      calc((var(--text-speed) * 0.6s)), calc((var(--text-speed) * 1s));
    transition-timing-function: ease-out;
  }
}

.quick-add__product-form-component .shopify-product-form {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  container-type: inline-size;
}

@media screen and (min-width: 750px) {
  .quick-add {
    display: var(--quick-add-display, flex);
  }
}

.quick-add__button .add-to-cart-text__content {
  display: none;
  opacity: 0;
  transition:
    display var(--animation-speed) ease-in-out,
    opacity var(--animation-speed) ease-in-out,
    transform var(--animation-speed) ease-in-out;
}

.add-to-cart-text {
  --atc-opacity: 0;
  --atc-destination: -1em;
  display: flex;
  gap: var(--gap-2xs);
  align-items: center;
  justify-content: center;
  animation-duration: var(--animation-speed);
  animation-timing-function: var(--animation-easing);
  animation-fill-mode: forwards;
  transition: opacity var(--animation-speed) var(--animation-easing);
}

.quick-add__button .svg-wrapper {
  width: 1rem;
  height: 1rem;
}
.svg-wrapper--small {
  width: var(--icon-size-2xs);
  height: var(--icon-size-2xs);
}

.svg-wrapper {
  color: currentcolor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  pointer-events: none;
}

.button:hover,
button.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  --button-color: var(--color-primary-button-hover-text);
  --button-background-color: var(--color-primary-button-hover-background);
  --button-border-color: var(--color-primary-button-hover-border);
}
