.header {
  --header-padding: var(--padding-2xs);
  --font-paragraph--line-height: 1;
  display: block;
}

.header-section:has(> #header-component[sticky="always"]),
.header-section:has(
  > #header-component[sticky="scroll-up"][data-sticky-state="active"]
) {
  position: sticky;
  top: -1px;
  z-index: var(--layer-sticky);
}

.header[data-sticky-state] {
  transition: opacity var(--animation-speed) var(--animation-easing);
  opacity: 1;
}

.visually-hidden:not(:focus, :active) {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.header__row {
  position: relative;
  background-color: var(--header-bg-color, var(--color-background));
  border-bottom: 1px solid var(--color-border);
}

.header__columns {
  --header-left: 1fr;
  --header-center: auto;
  --header-right: 1fr;
  --header-template-columns: var(--header-left) var(--header-center)
    var(--header-right);
  --header-mobile-bookend: 44px;
  max-width: 198.4rem;
  margin-inline: auto;
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: var(--header-template-columns);
  grid-template-columns: var(--header-template-columns);
}

.header-logo {
  width: clamp(14.2rem, 20%, 22rem);
  padding: 1rem 1.6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--color-foreground);
  text-decoration: none;
}

.header-logo__image {
  object-fit: contain;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 750px) {
  .header-logo {
    padding: 1rem 2rem;
  }
}

.header__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: left;
}

@media screen and (min-width: 750px) {
  .header__column--right {
    gap: 1.2rem;
  }
}

.header__column--right {
  grid-area: right;
  gap: 2px;
  justify-content: flex-end;
}

/* Menu */
.menu-list {
  --menu-horizontal-gap: 3.2rem;
  --menu-vertical-gap: var(--gap-xl);
  padding-inline: var(--padding-inline-mobile);
  display: flex;
}

@media screen and (min-width: 1040px) {
  .menu-list {
    padding-inline: var(--padding-inline-desktop);
  }
}

.menu-list__list-item {
  flex-shrink: 0;
  white-space: nowrap;
}

/* Extend hover area through padding to prevent flickering on actual menu items */
.menu-list__list-item:where(:not([slot="overflow"]))
> .menu-list__link[aria-haspopup],
.menu-list__list-item:where(:not([slot="overflow"])) > .menu-list__link,
.menu-list__list-item:where(:not([slot="overflow"])) > button.menu-list__link {
  margin-block: calc(-2 * var(--header-padding));
  padding-block: calc(3 * var(--header-padding)) calc(2 * var(--header-padding));
  margin-inline: calc(-1 * var(--gap-xl) / 2);
  padding-inline: calc(var(--gap-xl) / 2);
}

.menu-list__link {
  /* font-family: var(--font-body--family); */
  font-style: var(--font-body--style);
  font-weight: var(--font-body--weight);
  /* font-size: var(--menu-font-xs--size); */
  line-height: var(--line-height--heading-loose);
  color: var(--color-foreground);
  transition: color var(--animation-speed) var(--animation-easing);
  text-decoration: none;
  text-transform: none;
  display: flex;
  min-height: var(--minimum-touch-target);
  align-items: center;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    text-underline-position: from-font;
  }
}

/* SubMenu */
.menu-list__list-item:where(:not([slot="overflow"])) > .menu-list__submenu,
.overflow-menu::part(overflow) {
  --submenu-content-opacity: 0;
  --submenu-content-animation: opacity
    calc(var(--submenu-animation-speed) * 0.75) var(--animation-easing);
  /* box-shadow: var(--shadow-drawer); */
  visibility: hidden;
  background-color: var(--color-background);
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% - 1px);
  z-index: var(--layer-header-menu);
  clip-path: rect(0 100% var(--submenu-height) 0);
  transition: clip-path var(--submenu-animation-speed) var(--ease-out-cubic);
}

.overflow-menu::part(list) {
  /* Make sure focus outline is not cut off by overflow hidden */
  --focus-outline-size: calc(
    var(--focus-outline-offset) +
    var(--focus-outline-width)
  );

  gap: 0 var(--menu-horizontal-gap);
}

.overflow-menu {
  background-color: transparent;
}

/* the submenu background element to animate */
.overflow-menu::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: var(--submenu-height);
  background-color: var(--color-background);
  box-shadow: var(--shadow-popover);
  clip-path: inset(0.5px 0 -100px 0);
  /* stylelint-disable-line */
  opacity: var(--submenu-opacity, 1);
  transition:
    height var(--submenu-animation-speed) var(--ease-out-cubic),
    opacity var(--animation-speed-slow) var(--ease-out-cubic)
    var(--animation-speed-fast);
  z-index: calc(var(--layer-header-menu) - 1);
}

/** mega menu **/
.menu-list__submenu,
.overflow-menu::part(overflow) {
  background-color: transparent;
}

.menu-list__list-item:where(:not([slot="overflow"])) > .menu-list__submenu,
.overflow-menu::part(overflow) {
  --submenu-content-opacity: 0;
  --submenu-content-animation: opacity
    calc(var(--submenu-animation-speed) * 0.75) var(--animation-easing);

  /* box-shadow: var(--shadow-drawer); */
  visibility: hidden;
  background-color: var(--color-background);
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% - 1px);
  z-index: var(--layer-header-menu);
  clip-path: rect(0 100% var(--submenu-height) 0);
  /* stylelint-disable-line */
  transition: clip-path var(--submenu-animation-speed) var(--ease-out-cubic);
}

/* Show the submenus on hover */
.menu-list__list-item:has([aria-expanded="true"]) > .menu-list__submenu,
/* Show the overflow menu when a menu item is hovered */
.overflow-menu:has([slot="overflow"] [aria-expanded="true"])::part(overflow),
/* Keep the submenus open when they are hovered */
.menu-list__submenu:is(:hover),
.overflow-menu::part(overflow):hover {
  --submenu-content-opacity: 1;
  border-block-start: 1px solid var(--color-border);
  visibility: visible;
}

.menu-list__list-item:has([data-animating]) > .menu-list__submenu {
  --submenu-content-opacity: 0;

  visibility: visible;

  &::before {
    height: 0;
  }
}

.menu-list__submenu-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: var(--submenu-content-opacity);
  transition: var(--submenu-content-animation);
}

@media screen and (min-width: 1040px) {
  .mega-menu {
    padding-block: var(--padding-inline-desktop);
  }
}

@media screen and (min-width: 990px) {
  .mega-menu__grid {
    grid-template-columns: repeat(var(--menu-columns-desktop), minmax(0, 1fr));
  }
}

.mega-menu__grid {
  display: grid;
  grid-template-columns: repeat(var(--menu-columns-tablet), minmax(0, 1fr));
  gap: var(--menu-vertical-gap) var(--menu-horizontal-gap);
  width: 100%;
}

@media screen and (min-width: 990px) {
  .mega-menu__content {
    grid-column: span var(--menu-content-columns-desktop) / -1;
  }
}

@media screen and (min-width: 990px) {
  .mega-menu__content-list--collections {
    grid-template-columns: repeat(
        var(--menu-content-columns-desktop),
        minmax(0, 300px)
      );
  }
}

.mega-menu__content-list--collections {
  grid-template-columns: repeat(
      var(--menu-content-columns-tablet),
      minmax(0, 300px)
    );
}

.mega-menu__content-list {
  display: grid;
  justify-content: end;
  gap: var(--menu-vertical-gap) var(--menu-horizontal-gap);
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resource-card--overlay {
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    inset: 50% 0 0;
    background: var(--gradient-image-overlay);
    border-radius: var(--resource-card-corner-radius);
    pointer-events: none;
    z-index: var(--layer-flat);
  }
}

.resource-card {
  --resource-card-secondary-image-opacity: 0;
  --resource-card-primary-image-opacity: calc(
    1 -
    var(--resource-card-secondary-image-opacity)
  );
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-xs);
  position: relative;
  text-decoration: none;
  height: 100%;
  opacity: 1;
  animation: fadeIn var(--animation-speed-medium)
    var(--animation-timing-fade-in) forwards;
}

.resource-card__image {
  aspect-ratio: var(--resource-card-aspect-ratio, auto);
  object-fit: cover;
  border-radius: var(--resource-card-corner-radius);
  opacity: var(--resource-card-primary-image-opacity);
}

.resource-card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.resource-card--overlay .resource-card__content {
  position: absolute;
  inset: auto 0 0;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-sm);
  z-index: var(--layer-raised);
}

.resource-card__content {
  display: flex;
  flex-direction: column;
  color: var(--color-foreground);
  gap: 0.4rem;
}

.resource-card__image-placeholder {
  padding: var(--padding-sm);
  font-size: var(--font-size--lg);
  line-height: var(--line-height--display-loose);
  word-break: break-word;
  background-color: rgb(var(--color-foreground-rgb) / var(--opacity-5));
  aspect-ratio: var(--resource-card-aspect-ratio, auto);
  border-radius: var(--resource-card-corner-radius);
  color: var(--color-foreground);
}

.resource-card__title,
.resource-card__price {
  width: 100%;
  margin: 0;
  display: inline-block;
  font-family: var(--font-body--family);
  font-size: calc(
    12px +
    (var(--font-paragraph-value) - 12) *
    ((100vw - 375px) / (1960 - 375))
  );
  line-height: var(--line-height--body-normal);
  letter-spacing: var(--letter-spacing--heading-tight);
  color: var(--color-foreground);
  text-align: left;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resource-card__title.paragraph {
  line-height: 1.3;
}

.resource-image {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: var(--layer-base);
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: var(--ratio);
}

.resource-image .image-block__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.resource-image--placeholder {
  width: 100%;
  height: 100%;
}
