#agenda {
  background-color: var(--background-secondary);
}

.agenda-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  margin: 0 auto;
}

/* Left */
.agenda-left {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.agenda-left-title {
  padding: 0;
  margin: 0;
  font-size: var(--text-3xl);
  line-height: var(--text-3xl);
  font-weight: 700;
}

.agenda-left-description {
  color: var(--color-secondary-agenda);
  line-height: var(--leading-3);
}

.agenda-right-wrapper {
  display: flex;
  flex-direction: column;

  > * {
    border-bottom: var(--border-base) solid var(--border-color-secondary);
  }
}

@media only screen and (min-width: 765px) {
  .agenda-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .agenda-left {
    width: 33.333333%;
  }

  .agenda-right {
    width: 66.666667%;
  }
}
