<template id="tpl-resource-card">
  <li class="mega-menu__content-list-item">
    <div
      class="resource-card resource-card--overlay"
      data-resource-type="product"
    >
      <a class="resource-card__link">
        <span class="visually-hidden"></span>
      </a>
      <div
        class="resource-card__media"
        style="--resource-card-aspect-ratio: 16 / 9"
      >
        <img class="resource-card__image" sizes="300px">
      </div>
      <div class="resource-card__content">
        <div class="resource-card__title">
          <span></span>
        </div>
        <div class="resource-card__price">
          <p class="resource-card__subtext paragraph"></p>
        </div>
      </div>
    </div>
  </li>
</template>
