@layer reset, fonts, base, tokens, layout, components, utilities;

/* TOKEN */
@import "./tokens/colors.css" layer(tokens);
@import "./tokens/opacity.css" layer(token);
@import "./tokens/typography.css" layer(token);
@import "./tokens/spacing.css" layer(token);
@import "./tokens/responsive.css" layer(token);

/* Fondation */
@import "./tools/reset.css" layer(reset);
@import "./tools/fonts.css" layer(fonts);
@import "./tools/base.css" layer(base);

@import "./utilities/skeleton.css" layer(utilities);

header {
  width: 100%;
  height: auto;
}

.header-action {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.calendar-action {
  --grid-desktop: 2;
  display: grid;
  gap: var(--gap-xs);
  grid-template-columns: var(--grid-desktop);
  padding-inline: var(--padding-sm);
  padding-block: var(--padding-xs);
}

.calendar-action .toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__current-month {
  color: var(--color-foreground-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--md);
}

head-calendar {
  z-index: 4;
  background-color: white;
  position: fixed;
  top: var(--padding-header);
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendar-main {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.calendar__week-slot {
  position: absolute;
  top: var(--padding);
  left: 0;
  width: 100%;
  height: var(--height-calc);
}

.calendar__wrapper-week {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  scroll-snap-align: start;
  scroll-margin-top: var(--padding);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    background: #efefef;
  }
}

.calendar__day-week {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}

.calendar__cell {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--padding-xs);
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 1px;
    background: #efefef;
  }
}

.calendar__cell:hover .calendar__date {
  background-color: var(--color-selected-variant-hover-background);
  height: fit-content;
  padding-inline: var(--padding-2xs);
  color: var(--color-background);
  border-radius: var(--radius-md);
}

.calendar__date {
  font-size: var(--font-size--2xs);
  opacity: 1;
}

.calendar__date-other .calendar__date {
  opacity: 0.3;
}

.calendar__date-other {
  background-color: rgba(0, 0, 0, 0.039);
}

.calendar__date-first {
  background-color: var(--color-blue-600);
  height: fit-content;
  padding-inline: var(--padding-2xs);
  color: var(--color-background);
  border-radius: var(--radius-md);
}

.calendar__date-current {
  height: fit-content;
  padding-inline: var(--padding-2xs);
  color: var(--color-background);
  border-radius: var(--radius-md);
  background-color: rgb(255, 69, 36);
}
