ul {
  list-style: none;
  padding-inline: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding-block: 2rem;
}

.lists a {
  text-decoration: underline;
}

.lists h2 {
  font-size: 18px;
}

.lists__item {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0.2rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-inline: -1rem;
}

.lists__item-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.lists__item h2,
.lists__item .tp-title-wrap,
.lists__item p,
.lists__item .status--offline {
  opacity: 0.7;
}

.lists__item:hover h2,
.lists__item:hover .tp-title-wrap,
.lists__item:hover p,
.lists__item:hover .status--offline {
  opacity: 1;
}

.status--offline {
  color: red;
}

.lists__item a {
  color: inherit;
}

.lists__item:hover {
  background-color: rgba(128, 128, 128, 0.295);
}

.lists__item a::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: inherit !important;
  cursor: pointer;
}

.lists__item a::after {
  content: none;
}

[aria-disabled="true"] {
  opacity: 0.3;
  cursor: not-allowed;
  text-decoration: line-through;
}


.lists__item--offline h2,
.lists__item--offline .tp-title-wrap,
.lists__item--offline p,
.lists__item--offline .status--offline {
  opacity: 0._;
}

.lists__item--offline h2 {
  text-decoration: line-through;
}

.lists__item--offline p {
  text-decoration: line-through;
}

.github__link {
  --background-secondary-foreground: gray;
  --background-foreground: white;
  --color-foreground: black;
  position: relative;
  background-color: var(--background-secondary-foreground);
  color: var(--color-foreground) !important;
  width: fit-content;
  padding-inline: 0.5rem;

  &::before,
  &::after {
    display: none;
  }

  &:hover {
    background-color: var(--background-foreground);
  }
}

@media only screen and (min-width: 900px) {
  .lists__item a::after {
    content: "=>";
    top: 8px;
    left: -24px;
    position: absolute;
    color: inherit !important;
  }
}
