@import "./tools/reset.css";
@import "./tools/typo.css";
@import "./tools/layout.css";

@import "./modules/logo.css";
@import "./modules/main.css";
@import "./modules/navbar.css";
@import "./modules/hero.css";
@import "./modules/button.css";
@import "./modules/video.css";

@import "./sections/projects.css";

:root {
  --font-mono: "Geist Mono", monospace;
  --font-sans: "inter", sans-serif;
  --font-serif: "Playfair Display SC", serif;

  --text-base: 18px;
  /* 18 / 16 (default font-size natif navigateur) */
  --space-base: 1.125rem;

  /* 6 / 16 (default font-size natif navigateur) */
  --radius-base: 0.375rem;
  --ratio: 1.2;

  --space-xs: calc(var(--space-base) / pow(var(--ratio), 2));
  --space-sm: calc(var(--space-base) / pow(var(--ratio), 1));
  --space-md: calc(var(--space-base) * pow(var(--ratio), 1));
  --space-lg: calc(var(--space-base) * pow(var(--ratio), 2));
  --space-xl: calc(var(--space-base) * pow(var(--ratio), 3));
  --space-2xl: calc(var(--space-base) * pow(var(--ratio), 4));
  --space-3xl: calc(var(--space-base) * pow(var(--ratio), 5));

  --background: #060606;
  --color-foreground: #fff;
  --color-secondary-foreground: #888;

  /* Transition */
  --transition: 0.1s;

  /* Metier */
  --globalNavigation-height: 70px;

  /* Rounded */
  --ratio-rounded: 6;

  --rounded-sm: calc(var(--space-base) / pow(var(--ratio-rounded), 1));
  --rounded-md: var(--radius-base);
  --rounded-lg: calc(var(--space-base) * pow(var(--ratio-rounded), 1));
  --rounded-xl: calc(var(--space-base) * pow(var(--ratio-rounded), 2));
  --rounded-full: 999px;

  /* Button */
  --bg-button-primary: #eaeaea;
  --bg-button-secondary: linear-gradient(180deg, #fff3 0%, #fff0 100%), #131313;
  --bg-button-secondary-hover: #212224;
  --bg-button-primary-hover: #d3d3d3;
}

.homepageHero_heroContainer {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  align-items: end;
  padding-bottom: var(--space-2xl);
}

.homepageHero_typography {
  line-height: 0.8;
  font-size: 5rem;
  text-wrap: balance;
}
