<product-card-link
  data-product-id="15618860056963"
  data-featured-media-url="//www.robertocollina.com/cdn/shop/files/261FXA34001-03_8.jpg?v=1772792841&amp;width=500"
  data-product-transition="true"
>
  <product-card
    class="product-card"
    data-product-id="15618860056963"
    id="product-card-AZnVrRzFTRmpaWUJOd__product-card"
    data-product-transition="true"
  >
    <a
      id="d6a81849525940683ed882552c7a8dee"
      href="/products/maglia-traforata-effetto-pizzo-261fxa34001-03?variant=57304393318787"
      class="product-card__link"
      ref="productCardLink"
      wk-skip=""
      wk-id="2Soz2zf3RmXCNm1reg-lu"
    >
      <span class="visually-hidden"> Openwork Lace-Effect sweater </span>
    </a>

    <div
      class="
      product-card__content
      layout-panel-flex
      layout-panel-flex--column
      product-grid__card
    "
      style="
      --quick-add-display: flex;
      --quick-add-mobile-display: flex;
      --quick-add-mobile-opacity: 1;
    "
    >
      <div
        ref="cardGallery"
        class="card-gallery card-gallery-AcjBmd0lmbFE5U3NBc__product-card-gallery"
        style="--gallery-aspect-ratio: 2 / 3;"
        data-product-id="15618860056963"
        on:pointerenter="/previewImage"
        on:pointerleave="/resetImage"
        data-view-transition-to-main-product=""
        data-image-ratio="portrait"
      >
        <a
          class="contents"
          ref="cardGalleryLink"
          href="/products/maglia-traforata-effetto-pizzo-261fxa34001-03"
          aria-label="Openwork Lace-Effect sweater"
        >
          <div></div>
        </a>

        <div
          class="product-badges product-badges--gallery product-badges--top-left"
        >
          <div
            class="product-badges__badge product-badges__badge--sale product-badges__badge--rectangle"
            style="color:#000000; background-color: #FFFFFF;"
          >
            <!-- Remove % symbol from discount -->

            <!-- Add 0 to convert string to integer -->

            <!-- Check case -->

            -40%
          </div>
        </div>

        <quick-add-component
          class="quick-add"
          ref="quickAdd"
          data-product-title="Openwork Lace-Effect sweater"
          data-quick-add-button="choose"
          data-product-options-count="1"
        > </quick-add-component>
      </div>
    </div>
  </product-card>
</product-card-link>
