<template>
  <product-price
    class="text-block text-block--full-width text-left h6"
    data-block-id="ATDJIdWFkUENLd0dJS__product-price"
    data-product-id="15618860056963"
  >
    <div ref="priceContainer">
      <span role="group">
        <span class="visually-hidden">Sale price&nbsp;</span>
        <span class="price">114</span>
      </span>

      <span role="group">
        <span class="visually-hidden">Regular price&nbsp;</span>
        <s class="compare-at-price">190</s>
        <span>EUR</span>
      </span>
    </div>
  </product-price>
</template>
