<template data-name="product-price">
  <product-price
    class="text-block text-block--full-width text-left h6"
    data-block-id="product-price"
    data-attr-data-product-id="id"
  >
    <div ref="priceContainer">
      <span role="group">
        <span class="visually-hidden">Sale price&nbsp;</span>
        <span class="price" data-field="price"></span>
      </span>
      <span role="group">
        <span class="visually-hidden">Regular price&nbsp;</span>
        <s class="compare-at-price"></s>
        <span>FCFA</span>
      </span>
    </div>
  </product-price>
</template>
