button,
.btn,
.btn-link {
  border: none;
  background: none;
  padding-inline: 0.8rem;
  padding-block: 0.7rem;
  color: var(--foreground);
  border-radius: var(--rounded);
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  font-weight: 500;
  transition: 0.2s background;
}

button:hover,
.btn:hover {
  background-color: var(--secondary);
}

.btn-ghost {
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: var(--secondary);
}

.btn-burger {
  padding-block: 0.3rem;
}

.btn-burger:hover {
  background-color: var(--secondary);
}

.btn-primary {
  background-color: var(--button-background-primary);
  color: var(--primary-foreground);
}

.btn-primary:hover {
  background-color: var(--button-background-primary-hover);
}

.btn-secondary {
  color: var(--button-secondary);
  background-color: var(--button-background-secondary);
}

.btn-secondary:hover {
  background-color: var(--button-background-secondary-hover);
}

a.btn-link {
  width: 100%;
  max-width: 280px;
}

@media only screen and (min-width: 1200px) {
  button {
    font-size: var(--text-md);
  }

  a.btn-link {
    font-size: var(--text-md);
    width: fit-content;
    max-width: 180px;
  }
}
