.header-section:has(> #header-component),
.header-section:has(> #header-component) {
  --header-padding: var(--padding-lg);
  --font-paragraph--line-height: 1;
  position: sticky;
  top: 0;
  padding-block: var(--header-padding);
  z-index: var(--layer-sticky);
}

.header__row {
  position: relative;
}

.header__columns {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header-action {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
}

.header__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: left;
}

@media screen and (min-width: 750px) {
  .header__column--right {
    gap: 1.2rem;
  }
}

.header__column--right {
  grid-area: right;
  gap: 2px;
  justify-content: flex-end;
}
