.layout_main {
  padding-top: var(--globalNavigation-height);
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.layout_main_title {
  font-size: var(--text-4xl);
}

.layout_main_description {
  font-size: var(--text-sm);
}
