main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: var(--gap-2xl);
}

html {
  overflow-x: hidden;
}

svg {
  display: block;
  max-width: none;
}

body {
  mix-blend-mode: exclusion;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

dialog {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

.grid {
  --centered-column-number: 12;
  --full-width-column-number: 14;
  --centered: column-1 / span var(--centered-column-number);
  --full-width: column-0 / span var(--full-width-column-number);

  display: flex;
  flex-direction: column;
}

.svg-wrapper {
  color: currentcolor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  pointer-events: none;
}
